.pergament-canvas {
    background-color: var(--background-primary-alt);
    border: var(--border-width) solid var(--interactive-hover);
    cursor: crosshair;
    overflow: auto hidden;
}

.add-button {
    margin-top: 1em;
}

.settings-header {
    font-variant: var(--h4-variant);
    line-height: var(--h1-lin4-height);
    font-size: var(--h4-size);
    color: var(--h4-color);
    font-weight: var(--h4-weight);
    font-style: var(--h4-style);
    font-family: var(--h4-font);
}

.settings-hint {
    color: var(--color-orange)
}

.pergament-toolbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: calc(1.5 * var(--inline-title-size));
}

.pergament-toolbar-selectors {
    margin: 3px;
}

.vertical-divider {
    border-left: 3px solid var(--interactive-hover);
    height: 100%;
    margin-left: 3px;
    margin-right: 3px;
}
